/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 86px;
  padding-bottom: 15px;
}

.jumbotron{
    padding:25px;
    width:100%;
}

.huge-map{
    width:100%;
    margin-top:25px;
    border:1px solid #ddd;
    padding:20px 10px;
}

.huge-map svg{
    display:block;
    margin:0px auto;
}

.main-drop{
    padding:10px;
    width:100%;
    border:1px solid #ddd;
    border-radius:4px;
}

.loading {
    background-color: #fff;
    background-image: url("/images/loading.gif");
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
 /* to raise the graphic on screen, 
    increase the subtrahend in the calc() operation */
    margin: calc(100% - 95%) auto 0;
}
.footer {
    font-size: 14px;
}

.social {
    margin-top: -55px;
    width: 200px;
    height: 50px;
    float: right;
}
