.states {
  fill: none;
  pointer-events: none;
}

.counties {
  fill: none;
  pointer-events: none;
}

.countiesOverlay {
  fill: none;
  pointer-events: all;
}

.countiesOverlay.stateActive {
  fill: #c37500;
  fill-opacity: 0.3;
}

.countiesOverlay.stateInactive {
  fill: #000;
  fill-opacity: 0.6;
}

.state-borders {
  fill: none;
  stroke: #000;
  stroke-width: 0.5px;
  stroke-linejoin: round;
}

.background {
  pointer-events: all;
  fill: none;
}

.colorlegend-title {
  font-size: 1.5em;
}
