.states {
  fill: none;
  pointer-events: none;
}

.counties {
  fill: none;
  pointer-events: all;
}

.counties.stateActive {
  fill-opacity: 0.7;
}

.counties.stateInactive {
  fill-opacity: 0.1;
}

.state-borders {
  fill: none;
  stroke: #000;
  stroke-width: 0.5px;
  stroke-linejoin: round;
}

.background {
  pointer-events: all;
  fill: none;
}

.colorlegend-title {
  font-size: 1.5em;
}
